# this is an example of the Uber API
# as a demonstration of an API spec in YAML
swagger: '2.0'
info:
  title: Department
  description: Create documents online
  version: "1.0.0"
# the domain of the service
host: api.department.com
# array of all schemes that your API supports
schemes:
  - https
# will be prefixed to all paths
basePath: /v1
produces:
  - application/json
paths:
  /documents:
    get:# this is an example of the Uber API
# as a demonstration of an API spec in YAML
swagger: '2.0'
info:
  title: Department
  description: Create documents online
  version: "1.0.0"
# the domain of the service
host: api.department.com
# array of all schemes that your API supports
schemes:
  - https
# will be prefixed to all paths
basePath: /v1
produces:
  - application/json
paths:
  /documents:
    get:
      summary: Листинг документов пользователя
      description: |
       Страница, содержащая листинг документов пользователя с возможность их просмотра и создания нового.
      tags:
        - Documents
      responses:
        200:
          description: Запрос успешно обработан
          schema:
            type: array
            items:
              $ref: '#/definitions/Documents'
  /document/{id}:
    get:
      summary: Просмотр документа
      description: Cтраница отображающая содержимое документа
      parameters:
        - name: id
          in: path
          description: id документа
          required: true
          type: number
          format: int64

      tags:
        - Documents
      responses:
        200:
          description: Запрос успешно обработан
          schema:
            type: array
            items:
              $ref: '#/definitions/Documents'
        400:
          description: неверный id
        404:
          description: документ не найден

  /document/new:
    post:
      summary: Новый документ
      description: Создание нового документа
      parameters:
       - in: body
         name: body
         description: Добавление объекта модели Documents
         required: false
         schema:
            $ref: "#/definitions/Documents"
       - in: body
         name: body
         description: Добавление объекта модели Participants
         required: false
         schema:
            $ref: "#/definitions/Participants"

      tags:
        - Documents
      responses:
        405:
          description: Данные не верны
  /profile:
    get:
      summary: User Profile
      description: The User Profile endpoint returns information about the Uber user that has authorized with the application.
      tags:
        - User
      responses:
       "200":
          description: successful operation
          schema:
            $ref: "#/definitions/User"
       "405":
          description: Данные не верны
  /profile/update:
    put:
      tags:
        - User
      summary: Изменение
      description: Изменение информации пользователя
      parameters:
        - in: body
          name: body
          description: изменяемый объект
          required: false
          schema:
            $ref: "#/definitions/User"
      responses:
        "404":
          description: User not found
        "400":
          description: Invalid user supplied
  /logout:
    get:
      tags:
        - User
      summary: Завершение сессии
      description: ""
      responses:
        default:
          description: successful operation
  /login:
    get:
      tags:
        - User
      summary: Вход пользователя в систему
      description: ""
      parameters:
        - in: query
          name: name
          description: Имя пользователя/Логин
          required: false
          type: string
        - in: query
          name: password
          description: Пароль пользователя
          required: false
          type: string
      responses:
        "200":
          description: Запрос успешно обработан
          schema:
            type: string
        "400":
          description: Не верное имя пользовате или пароль
  /signin:
    post:
     tags:
      - User
     summary: Регистрация пользователя в системе
     description: "Регистрация пользователя в системе. "
     parameters:
        - in: query
          name: name
          description: Имя пользователя/Логин
          required: false
          type: string
        - in: query
          name: email
          description: email
          required: false
          type: string
        - in: query
          name: city
          description: город, в котором проживает пользователь
          required: false
          type: string
        - in: query
          name: age
          description: возвраст пользователя/ дата рождения
          required: false
          type: string
        - in: query
          name: gender
          description: пол пользователя
          required: false
          type: string
        - in: query
          name: snils
          description: snils пользователя
          required: false
          type: string
        - in: query
          name: passportData
          description: паспортные данные пользователя
          required: false
          type: string
        - in: query
          name: password
          description: Пароль пользователя
          required: false
          type: string
     responses:
        "200":
          description: Запрос успешно обработан
          schema:
            type: string
        "405":
          description: Данные не верны


definitions:
  Documents:
    type: object
    properties:
      document_id:
        type: number
        format: int
        description: PK
      denominationOfApplicant:
        description: наименование заявителя
        type: string
      legalStatusOfTheApplicant:
        description: правовой статус заявителя
        type: string
      theTypeLaborArbitrators:
        description: Вид подготовки трудовых арбитров
        type: string
      formOfThePreparationOfLaborArbitrators:
        description: форма подготовки трудовых арбитров
        type: string
      timeOfThePreparationOfLaborArbitrators:
        description: Время прохождения подготовки трудовых арбитров
        type: string
        format: date
      preferredLocation:
        description: место прохождения подготовки
        type: string
      mailingAddressOfTheApplicant:
        description: Почтовый адрес заявителя
        type: string
      contactPhoneNumber:
        description: Контактный телефоны
        type: string
      emailAddress:
        description: адрес электронной почты заявителя
        type: string
      positionApplicant:
        description: Должность представителя заявителя
        type: string
      fullName:
        description: имя пользователя
        type: string
      date:
        description: дата подачи заявления
        type: string
        format: data
      idUser:
       description: id пользователя
       type: number
       format: int
  Participants:
    type: object
    properties:
      participants_id:
        type: number
        format: int
        description: PK
      documentId:
        type: number
        format: int
        description: FK
      fullName:
        type: string
        description: имя участника
      education:
        type: string
        description: образование участника
      placeOfWork:
        type: string
        description: место работы участника
      position:
        type: string
        description: должность участника
  User:
    type: object
    properties:
      id:
        type: number
        format: int
        description: PK.
      name:
        type: string
        description: Имя пользователя
      email:
        type: string
        description: Email пользователя
      city:
        type: string
        description: Город
      age:
        type: number
        format: int32
        description: Возвраст пользователя
      gender:
       type: string
       description: Возвраст пользователя
      snils:
        type: number
        format: int
        description: СНИЛС
      passportData:
        type: number
        format: int
        description: паспортные данные

  Error:
    type: object
    properties:
      code:
        type: integer
        format: int32
      message:
        type: string
      fields:
        type: string

      summary: Листинг документов пользователя
      description: |
       Страница, содержащая листинг документов пользователя с возможность их просмотра и создания нового.
      tags:
        - Documents
      responses:
        200:
          description: Запрос успешно обработан
          schema:
            type: array
            items:
              $ref: '#/definitions/Documents'
  /document/{id}:
    get:
      summary: Просмотр документа
      description: Cтраница отображающая содержимое документа
      parameters:
        - name: id
          in: path
          description: id документа
          required: true
          type: number
          format: int64

      tags:
        - Documents
      responses:
        200:
          description: Запрос успешно обработан
          schema:
            type: array
            items:
              $ref: '#/definitions/Documents'
        400:
          description: неверный id
        404:
          description: документ не найден

  /document/new:
    post:
      summary: Новый документ
      description: Создание нового документа
      parameters:
       -  in: body
          name: body
          description: Pet object that needs to be added to the store
          required: false
          schema:
            $ref: "#/definitions/Documents"

      tags:
        - Documents
      responses:
        405:
          description: Данные не верны
  /profile:
    get:
      summary: User Profile
      description: The User Profile endpoint returns information about the Uber user that has authorized with the application.
      tags:
        - User
      responses:
       "200":
          description: successful operation
          schema:
            $ref: "#/definitions/User"
       "405":
          description: Данные не верны
  /profile/update:
    put:
      tags:
        - User
      summary: Изменение
      description: Изменение информации пользователя
      parameters:
        - in: body
          name: body
          description: изменяемый объект
          required: false
          schema:
            $ref: "#/definitions/User"
      responses:
        "404":
          description: User not found
        "400":
          description: Invalid user supplied
  /logout:
    get:
      tags:
        - User
      summary: Завершение сессии
      description: ""
      responses:
        default:
          description: successful operation
  /login:
    get:
      tags:
        - User
      summary: Вход пользователя в систему
      description: ""
      parameters:
        - in: query
          name: name
          description: Имя пользователя/Логин
          required: false
          type: string
        - in: query
          name: password
          description: Пароль пользователя
          required: false
          type: string
      responses:
        "200":
          description: Запрос успешно обработан
          schema:
            type: string
        "400":
          description: Не верное имя пользовате или пароль
  /signin:
    post:
     tags:
      - User
     summary: Регистрация пользователя в системе
     description: "Регистрация пользователя в системе. "
     parameters:
        - in: query
          name: name
          description: Имя пользователя/Логин
          required: false
          type: string
        - in: query
          name: email
          description: email
          required: false
          type: string
        - in: query
          name: city
          description: город, в котором проживает пользователь
          required: false
          type: string
        - in: query
          name: age
          description: возвраст пользователя/ дата рождения
          required: false
          type: string
        - in: query
          name: gender
          description: пол пользователя
          required: false
          type: string
        - in: query
          name: snils
          description: snils пользователя
          required: false
          type: string
        - in: query
          name: passportData
          description: паспортные данные пользователя
          required: false
          type: string
        - in: query
          name: password
          description: Пароль пользователя
          required: false
          type: string
     responses:
        "200":
          description: Запрос успешно обработан
          schema:
            type: string
        "405":
          description: Данные не верны


definitions:
  Documents:
    type: object
    properties:
      document_id:
        type: number
        format: int
        description: PK
      denominationOfApplicant:
        description: наименование заявителя
        type: string
      legalStatusOfTheApplicant:
        description: правовой статус заявителя
        type: string
      theTypeLaborArbitrators:
        description: Вид подготовки трудовых арбитров
        type: string
      formOfThePreparationOfLaborArbitrators:
        description: форма подготовки трудовых арбитров
        type: string
      timeOfThePreparationOfLaborArbitrators:
        description: Время прохождения подготовки трудовых арбитров
        type: string
        format: date
      preferredLocation:
        description: место прохождения подготовки
        type: string
      mailingAddressOfTheApplicant:
        description: Почтовый адрес заявителя
        type: string
      contactPhoneNumber:
        description: Контактный телефоны
        type: string
      emailAddress:
        description: адрес электронной почты заявителя
        type: string
      positionApplicant:
        description: Должность представителя заявителя
        type: string
      fullName:
        description: имя пользователя
        type: string
      date:
        description: дата подачи заявления
        type: string
        format: data
      idUser:
       description: id пользователя
       type: number
       format: int
  Participants:
    type: object
    properties:
      participants_id:
        type: number
        format: int
        description: PK
      documentId:
        type: number
        format: int
        description: FK
      fullName:
        type: string
        description: имя участника
      education:
        type: string
        description: образование участника
      placeOfWork:
        type: string
        description: место работы участника
      position:
        type: string
        description: должность участника
  User:
    type: object
    properties:
      id:
        type: number
        format: int
        description: PK.
      name:
        type: string
        description: Имя пользователя
      email:
        type: string
        description: Email пользователя
      city:
        type: string
        description: Город
      age:
        type: number
        format: int32
        description: Возвраст пользователя
      gender:
       type: string
       description: Возвраст пользователя
      snils:
        type: number
        format: int
        description: СНИЛС
      passportData:
        type: number
        format: int
        description: паспортные данные

  Error:
    type: object
    properties:
      code:
        type: integer
        format: int32
      message:
        type: string
      fields:
        type: string
